@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SourceSerifRegular";
    src: url("fonts/SourceSerif/SourceSerif4-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    font-family: "Pretendard";
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.bg-two-color-gradient-white {
    background: linear-gradient(
        to bottom,
        /* Define the direction of the gradient */ /* Color 1 */ #000000 0%,
        #000000 0%,
        /* Color 2 with a specified percentage */ #ffffff 100%,
        /* Color 3 with another specified percentage */ #ffffff 0%
            /* Optional fourth color to blend to */
    );
}

.dropdown:hover > .dropdown-content {
    display: block;
}

.fontSourceSerifRegular {
    font-family: "SourceSerifRegular";
}

.max-h-0 {
	max-height: 0;
}

.group:focus .group-focus\:max-h-40 {
	max-height: 10rem;
}

